<div class="padd-20
            <%# if Time.now.hour >= 16 || Time.now.hour <= 6 %>
              coulure
            <%# else %>
            <%# end %>
            ">
  <div class="more-info-on-covid
            <%# if Time.now.hour >= 16 || Time.now.hour <= 6 %>
              transparent-bg
            <%# else %>
            <%# end %>
            ">
    <%= link_to "info", info_path, class: "green bold" %>
  </div>
  <div class="body-challenge
              <%# if Time.now.hour >= 16 || Time.now.hour <= 6 %>
                transparent-bg
              <%# else %>
              <%# end %>
              ">
    <%#= link_to root_path do  %>
      <div class="covid-center" data-mixcloud-play-button="https://www.mixcloud.com/RadioCovid666/">
      </div>
    <%# end %>
  </div>
  <div class="tracks-archive
              <%# if Time.now.hour >= 16 || Time.now.hour <= 6 %>
                transparent-bg
              <%# else %>
              <%# end %>
              ">
    <% @tracks["data"].each do |t| %>
      <div class="track-block" data-mixcloud-play-button="<%=t["url"]%>">
        <div class="track-card" style="background-image: url(<%=t["pictures"]["320wx320h"]%>)">
        </div>
        <div class="track-info">
          <div class="track-name bold">
            <%= t["name"] %>
          </div>
          <div class="track-duration bold">
            <%= (t["audio_length"].to_i)/60 %> min
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script src="//widget.mixcloud.com/media/js/footerWidgetApi.js" async>
{"feed": "/RadioCovid666/"}
</script>
<script>
  // window.onload = function (new_coulure) {
  //   const covidBody = document.getElementsByClassName("mixcloud-footer-widget-body-wrapper");
  //   console.log(covidBody);
  //   let coulure = document.createElement('div');
  //   coulure.className = "coulure_moving";
  //   console.log("ok ok");
  //   covidBody.appendChild(new_coulure);
  // }

</script>

