<div class="padd-20 coulure">
  <div class="more-info-on-covid transparent-bg">
    <%= link_to "info", info_path, class: "green bold" %>
  </div>
  <div class="body-challenge transparent-bg">
    <%= link_to root_path do  %>
      <div class="covid-center" data-mixcloud-play-button="https://www.mixcloud.com/RadioCovid666/">
      </div>
    <% end %>
  </div>
  <div class="tracks-archive transparent-bg">
    <% @tracks["data"].each do |t| %>
      <div class="track-block" data-mixcloud-play-button="<%=t["key"]%>">
        <div class="track-card" style="background-image: url(<%=t["pictures"]["320wx320h"]%>)">
        </div>
        <div class="track-info">
          <div class="track-name bold">
            <%= t["name"] %>
          </div>
          <div class="track-duration bold">
            <%= (t["audio_length"].to_i)/60 %> min
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
    const elems = document.querySelectorAll('.track-block')
    for(let i = 0; i < elems.length; i++) {
      elems[i].addEventListener('click', function(){
        document.getElementById("mixcloud-player-covid").remove();
        const tag = document.createElement("iframe");
        tag.id = "mixcloud-player-covid"
        tag.width="100%"
        tag.height="60"
        tag.src = "https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=" + elems[i].attributes[1].value
        tag.frameBorder="0"
        document.body.appendChild(tag);
      }, false);
    };
</script>
